<div class="container">
     <div class="row">
          <!-- Red -->
          <div class="col-md-6">
               <img class="trainer-select-img" src="../img/trainer-sprites/red/front.png">
               <button class="trainer-select-button-1">Trainer 1</button>
               <button class="trainer-select-button-2">Trainer 2</button>
          </div>


          <!-- Leaf -->
          <div class="col-md-d">
               <img class="trainer-select-img" src="../img/trainer-sprites/leaf/front.png">
               <button class="trainer-select-button-1">Trainer 1</button>
               <button class="trainer-select-button-2">Trainer 2</button>
          </div>


          <!-- Ethan -->
          <div class="col-md-6">
               <img class="trainer-select-img" src="../img/trainer-sprites/ethan/front.png">
               <button class="trainer-select-button-1">Trainer 1</button>
               <button class="trainer-select-button-2">Trainer 2</button>
          </div>


          <!-- Lyra -->
          <div class="col-md-6">
               <img class="trainer-select-img" src="../img/trainer-sprites/lyra/front.png">
               <button class="trainer-select-button-1">Trainer 1</button>
               <button class="trainer-select-button-2">Trainer 2</button>
          </div>


          <!-- Brendan -->
          <div class="col-md-6">
               <img class="trainer-select-img" src="../img/trainer-sprites/brendan/front.png">
               <button class="trainer-select-button-1">Trainer 1</button>
               <button class="trainer-select-button-2">Trainer 2</button>
          </div>


          <!-- May -->
          <div class="col-md-6">
               <img class="trainer-select-img" src="../img/trainer-sprites/may/front.png">
               <button class="trainer-select-button-1">Trainer 1</button>
               <button class="trainer-select-button-2">Trainer 2</button>
          </div>


          <!-- Lucas -->
          <div class="col-md-6">
               <img class="trainer-select-img" src="../img/trainer-sprites/lucas/front.png">
               <button class="trainer-select-button-1">Trainer 1</button>
               <button class="trainer-select-button-2">Trainer 2</button>
          </div>


          <!-- Lucas 2 -->
          <div class="col-md-6">
               <img class="trainer-select-img" src="../img/trainer-sprites/lucas2/front.png">
               <button class="trainer-select-button-1">Trainer 1</button>
               <button class="trainer-select-button-2">Trainer 2</button>
          </div>


          <!-- Dawn -->
          <div class="col-md-6">
               <img class="trainer-select-img" src="../img/trainer-sprites/dawn/front.png">
               <button class="trainer-select-button-1">Trainer 1</button>
               <button class="trainer-select-button-2">Trainer 2</button>
          </div>


          <!-- Dawn 2 -->
          <div class="col-md-6">
               <img class="trainer-select-img" src="../img/trainer-sprites/dawn2/front.png">
               <button class="trainer-select-button-1">Trainer 1</button>
               <button class="trainer-select-button-2">Trainer 2</button>
          </div>


          <!-- Hilbert -->
          <div class="col-md-6">
               <img class="trainer-select-img" src="../img/trainer-sprites/hilbert/front.png">
               <button class="trainer-select-button-1">Trainer 1</button>
               <button class="trainer-select-button-2">Trainer 2</button>
          </div>


          <!-- Hilda -->
          <div class="col-md-6">
               <img class="trainer-select-img" src="../img/trainer-sprites/hilda/front.png">
               <button class="trainer-select-button-1">Trainer 1</button>
               <button class="trainer-select-button-2">Trainer 2</button>
          </div>


          <!-- Nate -->
          <div class="col-md-6">
               <img class="trainer-select-img" src="../img/trainer-sprites/nate/front.png">
               <button class="trainer-select-button-1">Trainer 1</button>
               <button class="trainer-select-button-2">Trainer 2</button>
          </div>


          <!-- Rosa -->
          <div class="col-md-6">
               <img class="trainer-select-img" src="../img/trainer-sprites/rosa/front.png">
               <button class="trainer-select-button-1">Trainer 1</button>
               <button class="trainer-select-button-2">Trainer 2</button>
          </div>
     </div>
</div>