<div class="container">
     <h1 class="text-center">Select a Trainer</h1>


     <div class="row">
          <!-- Red -->
          <div class="col-sm-6 pokemon-trainer-select-container">
               <img class="trainer-select-img" src="../img/trainer-sprites/red/front.png">
               <button class="trainer-select-button-1" ng-click="addTrainer1('../img/trainer-sprites/red/front.png', '../img/trainer-sprites/red/back.png')">Trainer 1</button>
               <button class="trainer-select-button-2" ng-click="addTrainer2('../img/trainer-sprites/red/front.png', '../img/trainer-sprites/red/back.png')">Trainer 2</button>
          </div>


          <!-- Leaf -->
          <div class="col-sm-6 pull-right pokemon-trainer-select-container">
               <img class="trainer-select-img pull-right" src="../img/trainer-sprites/leaf/front.png">
               <button class="trainer-select-button-2 tbr pull-right" ng-click="addTrainer2('../img/trainer-sprites/leaf/front.png', '../img/trainer-sprites/leaf/back.png')">Trainer 2</button>
               <button class="trainer-select-button-1 tbr pull-right" ng-click="addTrainer1('../img/trainer-sprites/leaf/front.png', '../img/trainer-sprites/leaf/back.png')">Trainer 1</button>
               
          </div>


          <!-- Ethan -->
          <div class="col-sm-6 pokemon-trainer-select-container">
               <img class="trainer-select-img" src="../img/trainer-sprites/ethan/front.png">
               <button class="trainer-select-button-1" ng-click="addTrainer1('../img/trainer-sprites/ethan/front.png', '../img/trainer-sprites/ethan/back.png')">Trainer 1</button>
               <button class="trainer-select-button-2" ng-click="addTrainer2('../img/trainer-sprites/ethan/front.png', '../img/trainer-sprites/ethan/back.png')">Trainer 2</button>
          </div>


          <!-- Lyra -->
          <div class="col-sm-6 pokemon-trainer-select-container pull-right">
               <img class="trainer-select-img pull-right" src="../img/trainer-sprites/lyra/front.png">
               <button class="trainer-select-button-2 tbr pull-right" ng-click="addTrainer2('../img/trainer-sprites/lyra/front.png', '../img/trainer-sprites/lyra/back.png')">Trainer 2</button>
               <button class="trainer-select-button-1 tbr pull-right" ng-click="addTrainer1('../img/trainer-sprites/lyra/front.png', '../img/trainer-sprites/lyra/back.png')">Trainer 1</button>
               
          </div>


          <!-- Brendan -->
          <div class="col-sm-6 pokemon-trainer-select-container">
               <img class="trainer-select-img" src="../img/trainer-sprites/brendan/front.png">
               <button class="trainer-select-button-1" ng-click="addTrainer1('../img/trainer-sprites/brendan/front.png', '../img/trainer-sprites/brendan/back.png')">Trainer 1</button>
               <button class="trainer-select-button-2" ng-click="addTrainer2('../img/trainer-sprites/brendan/front.png', '../img/trainer-sprites/brendan/back.png')">Trainer 2</button>
          </div>


          <!-- May -->
          <div class="col-sm-6 pokemon-trainer-select-container pull-right">
               <img class="trainer-select-img pull-right" src="../img/trainer-sprites/may/front.png">
               <button class="trainer-select-button-2 tbr pull-right" ng-click="addTrainer2('../img/trainer-sprites/may/front.png', '../img/trainer-sprites/may/back.png')">Trainer 2</button>
               <button class="trainer-select-button-1 tbr pull-right" ng-click="addTrainer1('../img/trainer-sprites/may/front.png', '../img/trainer-sprites/may/back.png')">Trainer 1</button>
               
          </div>


          <!-- Brendan 2 -->
          <div class="col-sm-6 pokemon-trainer-select-container">
               <img class="trainer-select-img" src="../img/trainer-sprites/brendan2/front.png">
               <button class="trainer-select-button-1" ng-click="addTrainer1('../img/trainer-sprites/brendan2/front.png', '../img/trainer-sprites/brendan2/back.png')">Trainer 1</button>
               <button class="trainer-select-button-2" ng-click="addTrainer2('../img/trainer-sprites/brendan2/front.png', '../img/trainer-sprites/brendan2/back.png')">Trainer 2</button>
          </div>

          <!-- May 2-->
          <div class="col-sm-6 pokemon-trainer-select-container pull-right">
               <img class="trainer-select-img pull-right" src="../img/trainer-sprites/may2/front.png">
               <button class="trainer-select-button-2 tbr pull-right" ng-click="addTrainer2('../img/trainer-sprites/may2/front.png', '../img/trainer-sprites/may2/back.png')">Trainer 2</button>
               <button class="trainer-select-button-1 tbr pull-right" ng-click="addTrainer1('../img/trainer-sprites/may2/front.png', '../img/trainer-sprites/may2/back.png')">Trainer 1</button>
               
          </div>


          <!-- Lucas -->
          <div class="col-sm-6 pokemon-trainer-select-container">
               <img class="trainer-select-img" src="../img/trainer-sprites/lucas/front.png">
               <button class="trainer-select-button-1" ng-click="addTrainer1('../img/trainer-sprites/lucas/front.png', '../img/trainer-sprites/lucas/back.png')">Trainer 1</button>
               <button class="trainer-select-button-2" ng-click="addTrainer2('../img/trainer-sprites/lucas/front.png', '../img/trainer-sprites/lucas/back.png')">Trainer 2</button>
          </div>


          <!-- Dawn -->
          <div class="col-sm-6 pokemon-trainer-select-container  pull-right">
               <img class="trainer-select-img  pull-right" src="../img/trainer-sprites/dawn/front.png">
               <button class="trainer-select-button-2 tbr pull-right" ng-click="addTrainer2('../img/trainer-sprites/dawn/front.png', '../img/trainer-sprites/dawn/back.png')">Trainer 2</button>
               <button class="trainer-select-button-1 tbr pull-right" ng-click="addTrainer1('../img/trainer-sprites/dawn/front.png', '../img/trainer-sprites/dawn/back.png')">Trainer 1</button>
               
          </div>

          <!-- Lucas 2 -->
          <div class="col-sm-6 pokemon-trainer-select-container">
               <img class="trainer-select-img" src="../img/trainer-sprites/lucas2/front.png">
               <button class="trainer-select-button-1" ng-click="addTrainer1('../img/trainer-sprites/lucas2/front.png', '../img/trainer-sprites/lucas2/back.png')">Trainer 1</button>
               <button class="trainer-select-button-2" ng-click="addTrainer2('../img/trainer-sprites/lucas2/front.png', '../img/trainer-sprites/lucas2/back.png')">Trainer 2</button>
          </div>

          <!-- Dawn 2 -->
          <div class="col-sm-6 pokemon-trainer-select-container pull-right">
               <img class="trainer-select-img pull-right" src="../img/trainer-sprites/dawn2/front.png">
               <button class="trainer-select-button-2 tbr pull-right" ng-click="addTrainer2('../img/trainer-sprites/dawn2/front.png', '../img/trainer-sprites/dawn2/back.png')">Trainer 2</button>
               <button class="trainer-select-button-1 tbr pull-right" ng-click="addTrainer1('../img/trainer-sprites/dawn2/front.png', '../img/trainer-sprites/dawn2/back.png')">Trainer 1</button>
               
          </div>


          <!-- Hilbert -->
          <div class="col-sm-6 pokemon-trainer-select-container">
               <img class="trainer-select-img" src="../img/trainer-sprites/hilbert/front.png">
               <button class="trainer-select-button-1" ng-click="addTrainer1('../img/trainer-sprites/hilbert/front.png', '../img/trainer-sprites/hilbert/back.png')">Trainer 1</button>
               <button class="trainer-select-button-2" ng-click="addTrainer2('../img/trainer-sprites/hilbert/front.png', '../img/trainer-sprites/hilbert/back.png')">Trainer 2</button>
          </div>


          <!-- Hilda -->
          <div class="col-sm-6 pokemon-trainer-select-container pull-right">
               <img class="trainer-select-img pull-right" src="../img/trainer-sprites/hilda/front.png">
               <button class="trainer-select-button-2 tbr pull-right" ng-click="addTrainer2('../img/trainer-sprites/hilda/front.png', '../img/trainer-sprites/hilda/back.png')">Trainer 2</button>
               <button class="trainer-select-button-1 tbr pull-right" ng-click="addTrainer1('../img/trainer-sprites/hilda/front.png', '../img/trainer-sprites/hilda/back.png')">Trainer 1</button>
               
          </div>


          <!-- Nate -->
          <div class="col-sm-6 pokemon-trainer-select-container">
               <img class="trainer-select-img" src="../img/trainer-sprites/nate/front.png">
               <button class="trainer-select-button-1" ng-click="addTrainer1('../img/trainer-sprites/nate/front.png', '../img/trainer-sprites/nate/back.png')">Trainer 1</button>
               <button class="trainer-select-button-2" ng-click="addTrainer2('../img/trainer-sprites/nate/front.png', '../img/trainer-sprites/nate/back.png')">Trainer 2</button>
          </div>


          <!-- Rosa -->
          <div class="col-sm-6 pokemon-trainer-select-container pull-right">
               <img class="trainer-select-img pull-right" src="../img/trainer-sprites/rosa/front.png">
               <button class="trainer-select-button-2 tbr pull-right" ng-click="addTrainer2('../img/trainer-sprites/rosa/front.png', '../img/trainer-sprites/rosa/back.png')">Trainer 2</button>
               <button class="trainer-select-button-1 tbr pull-right" ng-click="addTrainer1('../img/trainer-sprites/rosa/front.png', '../img/trainer-sprites/rosa/back.png')">Trainer 1</button>
               
          </div>

          <div class="col-md-5"></div>
          <div class="col-sm-2">
               <button class="go-to-pokemon-select" ng-show="goToPokemon" ui-sref="pokemon"></button>
               <button class="go-to-pokemon-select-disabled" disabled ng-show="!goToPokemon"></button>
          </div>
          <div class="col-md-5"></div>

     </div>
</div>