<div class="container">
     <!-- Trainer 1 -->
     <div class="col-sm-6">
          <img src="../img/trainer-sprites/hilbert/vs.png" class="pokemon-trainer1-vs">
          <div class="row">
               <div class="trainer1-pokemon-confirm col-sm-4">
                    <img src="../img/charizard.png">
                    <div>Charizard</div>
                    <div>Move 1</div>
                    <div>Move 2</div>
                    <div>Move 3</div>
                    <div>Move 4</div>
               </div>
               <div class="trainer1-pokemon-confirm col-sm-4">
                    <img src="../img/charizard.png">
                    <div>Charizard</div>
                    <div>Move 1</div>
                    <div>Move 2</div>
                    <div>Move 3</div>
                    <div>Move 4</div>
               </div>
               <div class="trainer1-pokemon-confirm col-sm-4">
                    <img src="../img/charizard.png">
                    <div>Charizard</div>
                    <div>Move 1</div>
                    <div>Move 2</div>
                    <div>Move 3</div>
                    <div>Move 4</div>
               </div>
               <div class="trainer1-pokemon-confirm col-sm-4">
                    <img src="../img/charizard.png">
                    <div>Charizard</div>
                    <div>Move 1</div>
                    <div>Move 2</div>
                    <div>Move 3</div>
                    <div>Move 4</div>
               </div>
               <div class="trainer1-pokemon-confirm col-sm-4">
                    <img src="../img/charizard.png">
                    <div>Charizard</div>
                    <div>Move 1</div>
                    <div>Move 2</div>
                    <div>Move 3</div>
                    <div>Move 4</div>
               </div>
               <div class="trainer1-pokemon-confirm col-sm-4">
                    <img src="../img/charizard.png">
                    <div>Charizard</div>
                    <div>Move 1</div>
                    <div>Move 2</div>
                    <div>Move 3</div>
                    <div>Move 4</div>
               </div>
          </div>
     </div>
     <div>
          <img class="animated slideInLeft" src="../img/trainer1backgroundend.png">
          <img class="animated slideInRight itstimetostop" src="../img/trainer2backgroundend.png">
     </div>


     <!-- Trainer 2 -->
     <div class="col-sm-6">

     </div>
</div>